@model Kiyafet

<form method="post" enctype="multipart/form-data">
    <input asp-for="ResimUrl" hidden />
    <div class="row">
        <div class="col-9">
            <div class="container pt-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary">@(Model == null ? "Yeni Kıyafet Ekle" : "Kıyafet Güncelle")</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="KiyafetAdi" class="mb-2"></label>
                    <input asp-for="KiyafetAdi" class="form-control" />
                    <span asp-validation-for="KiyafetAdi" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Fiyati" class="mb-2"></label>
                    <input asp-for="Fiyati" class="form-control" />
                    <span asp-validation-for="Fiyati" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Rengi" class="mb-2"></label>
                    <input asp-for="Rengi" class="form-control" />
                    <span asp-validation-for="Rengi" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Cinsiyet" class="mb-2"></label>
                    <input asp-for="Cinsiyet" class="form-control" />
                    <span asp-validation-for="Cinsiyet" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KiyafetTuruId" class="mb-2"></label>
                    <select asp-for="KiyafetTuruId" asp-items="ViewBag.kiyafetTuruList" class="form-select"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="ResimUrl" class="p-0"></label>
                    <input type="file" name="file" class="form-control" />
                </div>
                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary">Kıyafet Güncelle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary">Kıyafet Ekle</button>
                }
                <a asp-controller="Kiyafet" asp-action="Index" class="btn btn-lg btn-primary">Kıyafetlere Geri Dön</a>
            </div>
        </div>
        <div class="col-3">
            <div class="container pt-3 mt-5">
                @if (Model != null)
                {
                    <img src="@Model.ResimUrl" width="100%" style="border-radius:7px border:1px solid #bbb9b9" />
                }
            </div>
        </div>
    </div>
    
</form>
@* 
frontend de kullanici hatalarini engellemek icin
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} *@