@model List<KiyafetTuru>

<div class="container">
    <div class="row pt-3 pb-4">
        <div>
            <h1>Kıyafet Türleri</h1>

        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Kıyafet Türü
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kiyafetTuru in Model)
            {
                <tr>
                    <td>@kiyafetTuru.Id</td>
                    <td>@kiyafetTuru.Ad</td>
                </tr>
            }
        </tbody>

    </table>

    <div class="row pt-3 pb-2">  
        <div>
            <a asp-controller="KiyafetTuru" asp-action="KiyafetTuruEkle" class="btn btn-lg btn-primary" type="button">Yeni Kıyafet Türü Oluştur</a>
        </div>
    </div>

</div>
