@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:red" class="display-4"><strong>TechCareer Online Kıyafet Mağazası</strong></h1>
    <br /> <br />
    <p>
        <img src="/img/home.jpg" />
    </p>
</div>
