@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
    <br />
    <h2 style="color:red">@ViewData["Title"]</h2>
    <br />
    <h4>Adresimiz: Sdü Batı Kampüsü Mühendislik Faküktesi Merkez/Isparta</h4>
   <br />
    <h4>Eposta Adresimiz:  <a href="mailto:zehracakir.github.com">zehracakir.github.com</a></h4>

</div>
