@model List<SiparisVerme>

<div class="container">
    <h1>Sepet</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Kıyafet</th>
                <th>Fiyat</th>
                <th>Adet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Kiyafet.KiyafetAdi</td>
                    <td>@item.Kiyafet.Fiyati TL</td>
                    <td>1</td> <!-- Sepetteki miktarı gösterin. Miktar eklenmemişse varsayılan olarak 1 gösteriliyor -->
                </tr>
            }
        </tbody>
    </table>
    @* <a class="btn btn-primary" href="@Url.Action("SiparisVer", "SiparisVerme")">Sipariş Ver</a> *@
</div>
